---
# Base configuration tasks for macOS
- name: Get current user shell
  ansible.builtin.command: dscl . -read /Users/{{ ansible_facts.user_id }} UserShell
  register: base_current_shell
  changed_when: false
  tags: shell

- name: Set default shell
  ansible.builtin.user:
    name: "{{ ansible_facts.user_id }}"
    shell: "{{ base_default_shell }}"
  become: true
  when: base_default_shell not in base_current_shell.stdout
  tags: shell

