---
# Base configuration tasks for macOS
- name: Get current user shell
  ansible.builtin.command: dscl . -read /Users/{{ ansible_facts.user_id }} UserShell
  register: current_shell
  changed_when: false
  tags: shell

- name: Set default shell
  user:
    name: "{{ ansible_facts.user_id }}"
    shell: "{{ default_shell }}"
  become: true
  when: default_shell not in current_shell.stdout
  tags: shell

