---
name: Ansible Lint

on:
  pull_request:
    branches: [main]
jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          cache: "pip"

      - name: Install yamllint
        run: pip3 install yamllint==1.28.0

      - name: Run yamllint
        run: yamllint -c .yamllint .

      - name: Run ansible-lint
        uses: ansible/ansible-lint@v26.1.1
