---
name: Ansible Lint

on:
  pull_request:
    branches: [main]
jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run ansible-lint
        uses: ansible/ansible-lint@v26.1.1
